{{#each this}}
  <div class='card'>

    <div class='card-content'>
      <h1 class='card-name'> {{title}}</h1>
      <p class='card-text'>Vote / Votes {{vote_average}}</p>
      <p class='card-text'>Popularity {{popularity}}</p>
      <p class='card-text'>Original Title {{original_title}}</p>
      <p class='card-text'>Genre {{genre_ids}}</p>
      <p class='card-about'>About {{overview}}</p>
    </div>

    <div class='card-img'>
      <img src='{{poster_path}}' alt='{{title}}' />
    </div>
  </div>
  <button class='button'>add to Watched</button>
  <button class='button'>add to queue</button>
{{/each}}