<div class='card'>
  <div class='card-img'>
    {{#if poster_path}}
      <img
        class='modal-img'
        style='max-width: 100%;'
        src='https://image.tmdb.org/t/p/w500/{{poster_path}}'
        alt='{{title}}'
      />
    {{else}}
      <img
        src='https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg'
        class='modal-img'
      />
    {{/if}}
  </div>
  <div class='card-content'>
    <h1 class='card-name'> {{title}}</h1>
    <ul class='list'>
      <li class='item'>
        <p class='card-text'>
          <span class='card-text-grey'>Vote / Votes</span>
          <span class='vote-average'>{{vote_average}} </span>
          /
          <span class='card-text-black'> {{vote_count}}</span></p>
      </li>
      <li class='item'>
        <p class='card-text'>
          <span class='card-text-grey'>Popularity</span>
          <span class='card-text-black'>{{popularity}}</span>
        </p>
      </li>
      <li class='item'>
        <p class='card-text'>
          <span class='card-text-grey'>Original Title</span>
          <span class='card-text-black'>{{original_title}}</span>
        </p>
      </li>
      <li class='item item-genres'>
        <p class='card-text'>
          <span class='card-text-grey'>Genres</span>
          <ul class='list'>
            <li class='item item-genres-text'>
              {{#each genres}}
                <span class='card-text-genres'>{{name}}</span>
              {{/each}}
            </li>
          </ul>
        </p>
      </li>
    </ul>
    <p class='card-about'>About</p>
    <p class='card-about-description'> {{overview}}</p>
    <div class='wrapper-button-modal'>
      <button class='button button-modal button-watched-js'>add to Watched</button>
      <button class='button button-modal button-queue-js'>add to queue</button>
    </div>

  </div>
</div>